<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Faculty of Gas & Oil Engineering</h1>
            <span>Hanoi University of Mining and Geology</span>
            <span><address>Hanoi, Vietnam</address><time>2012 to 2013</time></span>
        </header>
        <p>
            <em>Description: Specialized in oil and gas exploitation techniques and instrumentation.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BSc in Automation Engineering</h1>
            <span>Häme University of Applied Sciences</span>
            <span><address>Valkeakoski, Finland</address><time>2013 to 2018</time></span>
        </header>
        <p>
            <em>Thesis: Self-balancing robot with Bluetooth control</em>
        </p>
    </article>
</section>
