<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Project Assistant</h1>
            <span><address>Häme Technical Laboratory, Finland</address><time>03/2018 to 06/2018</time></span>
        </header>
        <p><ul>
          <li> In depth review on P&ID drawing for the project of dispersing chemical liquids.</li>
          <li>Identifying task of each short circuit.</li>
          <li>Selecting relevant instruments.</li>
          <li>Supporting name plate and list of instrument.</li>
          <li>Technical drawing for a control cabinet and electrical connection.</li>
          <li>Drawing short circuit function using MetsoDNA software.</li>
            </ul>
          </p>
    </article>
    <article>
        <header>
            <h1>Project Researcher</h1>
            <span><address>Häme Technical Laboratory, Finland</address><time>06/2018 to 09/2018</time></span>
        </header>
        <p><ul>
          <li>Designing miniature self-balancing robot based on Inverted Pendulum theory.</li>
          <li>Building robot's structure using Autodesk Inventor and 3D printing machine.</li>
          <li>JavaScript programming robot's function on IDE 1.8.5.</li>
          <li>MIT App Inventor 2 programming for wireless interface.</li>
          <li>Testing the balance of robot.</li>
            </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Technical Control Trainee</h1>
            <span><address>NK Engineering CO LTD, Vietnam</address><time>01/2019 to 05/2019</time></span>
        </header>
        <p><ul>
          <li>Contacting and negotiating with clients for the requirement of products.</li>
          <li>Designing a relevant list of products following thequalification of clients.</li>
          <li>Prepare contracts with approved agreements.</li>
          <li>Reporting revenue to the business department.</li>
            </ul>
          </p>
    </article>  
</section>
