<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Event Assistant GPD19</h1>
            <span><address>Glaston Oyj, Finland</address><time>2013</time></span>
        </header>
        <p><ul>
          <li>Preparing and staffing the registration areas</li>
          <li>Supporting administration and logistics tasks</li>
          <li>Supporting speakers and technical staff at stages</li>
          <li>Sharing content to GPD social media channels</li>
          <li>Assisting guests and organizers as needed</li>
            </ul>
        </p>
    </article>
</section>
